.nav{
    width: 90vw;
    height: 5vh;
    background-color: rgb(58, 58, 58);
    margin-top: 5vh;
    margin-bottom: 5vh;

    button{
        background-color: rgb(58, 58, 58);
        border: 2px solid rgb(58, 58, 58) ;
        margin: 1px;
        border-radius: 0px;
        color: aliceblue;
        padding: 1px;
        font-size: 10px;
        &:hover{
            background-color: rgb(57, 100, 100);
            border: 2px solid rgb(57, 100, 100);
            width: 60px;
            height: 20px;
            cursor: pointer;
        }
    }
}
.btn-section{
    display: flex;
}
ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;  
}

li{
    border-left: 1px solid white;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 5vh;
    justify-content: center;
    width: 100%;
    font-size: 0.5em;
    color: aliceblue;
    list-style: none;
    background-color: rgb(58, 58, 58);
    &:hover{
        background-color: rgb(57, 100, 100);
    }
}